
<form action="/overview/addpoi" method="POST">
    <div class="field">
        <label class="label">Point of interest</label>
        <input class="input" type="text" placeholder="Name" name="name">
        <input class="input" type="number" placeholder="Lat" name="latitude">
        <input class="input" type="number" placeholder="Long" name="longitude">
        <input class="input" type="text" placeholder="Description" name="description">
    </div>
    <button class="button is-link">Add Point of Interest</button>
</form>
