<nav class="navbar">
<div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a id="overview" class="button" href="/overview"> overview </a>
            </div>
            <div class="buttons">
                <a id="logout" class="button" href="/logout"> Logout </a>
            </div>
            <div class="buttons">
                <a id="admin" class="button" href="/admin"> Admin? </a>
            </div>
        </div>
    </div>
</div>
</nav>