<form action="/category/addcategory" method="POST">
    <div class="field">
        <label class="label">Category</label>
        <input class="input" type="text" placeholder="Name" name="name">
    </div>
    <button class="button is-link">Add Category</button>
</form>
