<nav class="navbar">
<div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a id="overview" class="button" href="/overview"> Overview </a>

                <a id="overview" class="button" href="/category"> Category </a>

                <a id="logout" class="button" href="/logout"> Logout </a>

                <a id="admin" class="button" href="/admin"> Admin</a>
            </div>
        </div>
    </div>
</div>
</nav>